{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ path('portada') }}"><i class="fas fa-key"></i> PrestaKeys</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Mostrar secciones">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            {% set ruta = app.request.get('_route') %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item{% if ruta == "portada" %} active{% endif %}">
                    <a class="nav-link" href="{{ path('portada') }}"><i class="fas fa-home"></i> Portada <span class="sr-only">(actual)</span></a>
                </li>
                <li class="nav-item{% if ruta starts with "usuario_" %} active{% endif %}">
                    <a class="nav-link" href="{{ path('usuario_listar') }}"><i class="fas fa-users"></i> Usuarios</a>
                </li>
                <li class="nav-item{% if ruta starts with "llave_" %} active{% endif %}">
                    <a class="nav-link" href="{{ path('llave_listar_prestadas') }}"><i class="fas fa-key"></i> Llaves</a>
                </li>
                <li class="nav-item{% if ruta starts with "dependencia_" %} active{% endif %}">
                    <a class="nav-link" href="{{ path('dependencia_listar') }}"><i class="fas fa-building"></i> Dependencias</a>
                </li>
            </ul>
            {% if app.user %}
                <span class="navbar-text">¡Hola <a href="{{ path('datos_personales') }}">{{ app.user.nombre }}</a>!</span>
                <a href="{{ path('usuario_salir') }}" class="ml-3 btn btn-primary"><i class="fas fa-power-off"></i> Salir</a>
            {% else %}
                <a href="{{ path('usuario_entrar') }}" class="btn btn-primary"><i class="fas fa-door-open"></i> Entrar</a>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        {% for mensaje in app.session.flashbag.get('exito') %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ mensaje }}
            </div>
        {% endfor %}
        {% for mensaje in app.session.flashbag.get('error') %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ mensaje }}
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}