{% extends 'layout.html.twig' %}

{% block title %}Listado de llaves{% endblock %}

{% block content %}
    <h1>Listado completo de llaves <a href="{{ path('llave_nueva') }}" class="btn btn-success"><i class="fas fa-plus"></i> Nueva llave</a></h1>

    <table class="table table-sm">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descripción</th>
                <th>Dependencia</th>
                <th>Fecha de préstamo</th>
                <th>Prestada a</th>
            </tr>
        </thead>
        <tbody>
            {% for llave in llaves %}
                <tr>
                    <td><a href="{{ path('llave_editar', {'id': llave.id}) }}">{{ llave.codigo }}</a></td>
                    <td>{{ llave.descripcion }}</td>
                    <td>{{ llave.dependencia.nombre }}</td>
                    <td>{{ llave.fechaPrestamo|date('d/m/Y') }}</td>
                    <td>{% if llave.usuario %}{{ llave.usuario.nombre }} {{ llave.usuario.apellidos }}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
